@import url(../../globaleScss.scss);

.loginComponent{
    form{
        width: 30vw;
        div{
            display: grid;
            grid-template-columns: 1fr;
        }
        input[type=submit]{
            margin-top: 3rem;
            margin-bottom: 1rem;
            padding: 8px 14px;
            width: 10rem;
            background: var(--clamShell);
            border: 1px solid var(--blackCow);
            border-radius: 5px;
            box-shadow: 3px 9px 12px -3px rgba(131, 130, 130, 0.36);
            color: var(--blackCow);
            font-size: 16px;
        }
            
        input[type=submit]:hover{
            cursor: pointer;
            color: var(--terraCotta);
        }

    }
}