@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Titillium+Web:wght@300;700;900&display=swap');
:root {
    /* Colors: */
    --redwood: #5C1F06;
    --terraCotta: #D97852;
    --blackCow: #524641;
    --smokeyGrey: #707070;
    --clamShell: #D1B3A7;
    --donkeyBrown: #A68E85;
    --romance: #F9F9F9;
    --black: #000000;
    
    /* Font/text values */
    --header134: 'Titillium Web', sans-serif;
    --header2p: 'Open Sans', sans-serif;
}