@import url(../../globaleScss.scss);

.navigation{
    border-bottom: 2px solid var(--redwood);
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        a{
            margin-left: 2rem;
            margin-bottom: 1rem;
            font-family: var(--header2p);
            text-transform: uppercase;
            text-decoration: none;
            color: var(--blackCow);
        }
    }
}